{
  "openapi": "3.1.0",
  "info": {
    "title": "Akua API",
    "version": "1.0.0",
    "description": "Public API for managing Akua workspaces, clusters, products, and installs.\n\nAuthenticate with a workspace API token via the `Authorization: Bearer sk_akua_...` header.\n\nA workspace-owned token implies its workspace. Broad tokens select the active workspace via the optional `Akua-Context` header.",
    "contact": {
      "name": "Akua API support",
      "email": "support@akua.dev",
      "url": "https://akua.dev/docs"
    }
  },
  "servers": [
    {
      "url": "https://api.akua.dev/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and token management."
    },
    {
      "name": "Agents",
      "description": "Agent identities and configuration."
    },
    {
      "name": "Agent sessions",
      "description": "Durable agent conversations and tasks."
    },
    {
      "name": "Agent turns",
      "description": "Submitted agent work and event emission."
    },
    {
      "name": "Agent events",
      "description": "Normalized agent event history and streams."
    },
    {
      "name": "Custom domains",
      "description": "Workspace custom domains and routing targets."
    },
    {
      "name": "Cloudflare",
      "description": "Cloudflare account credentials and gateway control."
    },
    {
      "name": "Clusters",
      "description": "Kubernetes clusters and cluster access operations."
    },
    {
      "name": "ComputeConfigs",
      "description": "Workspace compute provider configurations."
    },
    {
      "name": "Entitlements",
      "description": "Effective workspace capabilities and limits."
    },
    {
      "name": "Dashboards",
      "description": "Dashboard and widget resources."
    },
    {
      "name": "Installs",
      "description": "Installation and render operations."
    },
    {
      "name": "Machines",
      "description": "Compute machines and lifecycle events."
    },
    {
      "name": "Notifications",
      "description": "User notification state."
    },
    {
      "name": "Offer Channels",
      "description": "Private offer channels and policy versions."
    },
    {
      "name": "Offers",
      "description": "Marketplace offers and redemption tracking."
    },
    {
      "name": "Operations",
      "description": "Long-running operation status and controls."
    },
    {
      "name": "Order Drafts",
      "description": "Draft checkout orders and checkout sessions."
    },
    {
      "name": "Organizations",
      "description": "Organizations, memberships, and managed workspaces."
    },
    {
      "name": "Packages",
      "description": "Software packages, versions, and input schemas."
    },
    {
      "name": "Products",
      "description": "Marketplace product catalog resources."
    },
    {
      "name": "Preview hostnames",
      "description": "Install preview hostnames and routing state."
    },
    {
      "name": "Quotas",
      "description": "Workspace quota limits and usage."
    },
    {
      "name": "Regions",
      "description": "Available deployment regions."
    },
    {
      "name": "Registry",
      "description": "Container registry credentials and repositories."
    },
    {
      "name": "Repository change requests",
      "description": "Fork-backed repository change reviews and lifecycle actions."
    },
    {
      "name": "Repositories",
      "description": "Source repositories available to the workspace."
    },
    {
      "name": "Secrets",
      "description": "Workspace secrets and secret versions."
    },
    {
      "name": "Snippets",
      "description": "Reusable snippets and snippet runs."
    },
    {
      "name": "Workspace subdomains",
      "description": "Workspace subdomain identity."
    },
    {
      "name": "Workspaces",
      "description": "Workspace resources, members, and billing state."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "workspace API token (sk_akua_...) or OAuth2 JWT. Create tokens at https://akua.dev/developers/api-tokens"
      }
    },
    "schemas": {
      "SnippetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snippet"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Snippet": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "example": "snp_j572abc123def456"
              },
              "html_url": {
                "type": "string",
                "maxLength": 2048,
                "format": "uri",
                "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
                "example": "https://akua.dev/dashboards/snippets/snp_j572abc123def456"
              },
              "name": {
                "type": "string",
                "example": "Cluster Resource Audit"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Checks resource requests and limits"
              },
              "code": {
                "type": "string",
                "example": "async () => { ... }",
                "description": "Async JavaScript function body executed in a sandboxed runtime. Has access to platform.request() for API calls."
              },
              "display_type": {
                "type": "string",
                "enum": [
                  "table",
                  "stat",
                  "json",
                  "logs",
                  "timeseries"
                ],
                "description": "Controls how the snippet result is rendered in dashboard widgets",
                "example": "table"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "time_range"
                          ]
                        },
                        "default": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "resource"
                          ]
                        },
                        "resource": {
                          "type": "string",
                          "enum": [
                            "cluster",
                            "install",
                            "product",
                            "package",
                            "region"
                          ]
                        },
                        "default": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 255
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "minItems": 1,
                              "maxItems": 100
                            }
                          ]
                        },
                        "multiple": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "resource"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "enum"
                          ]
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "minItems": 1,
                          "maxItems": 100
                        },
                        "default": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "options"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "boolean"
                          ]
                        },
                        "default": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "number"
                          ]
                        },
                        "min": {
                          "type": "number"
                        },
                        "max": {
                          "type": "number"
                        },
                        "default": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "default": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "max_length": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 500
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "maxItems": 16
              },
              "visibility": {
                "type": "string",
                "enum": [
                  "workspace",
                  "session"
                ],
                "description": "Whether the snippet is reusable workspace state or scoped to an agent session."
              },
              "origin": {
                "type": "string",
                "enum": [
                  "user",
                  "agent",
                  "system"
                ],
                "description": "Who authored the snippet descriptor."
              },
              "agent_session_id": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 54
              },
              "agent_turn_id": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 54
              },
              "purpose": {
                "type": "string",
                "enum": [
                  "general",
                  "prepared_action",
                  "reactive_read",
                  "widget"
                ]
              },
              "workspace_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 53,
                "example": "ws_j572abc123def456"
              },
              "created_by": {
                "type": "string",
                "description": "User ID of the snippet creator"
              },
              "created_at": {
                "type": "integer",
                "minimum": 0,
                "description": "Unix timestamp (seconds)"
              },
              "updated_at": {
                "type": "integer",
                "minimum": 0,
                "description": "Unix timestamp (seconds)"
              },
              "archived_at": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0,
                "description": "Unix timestamp (seconds) when this snippet was archived, or null while active"
              },
              "etag": {
                "type": "string"
              },
              "result_contract_version": {
                "type": "null"
              },
              "result_type": {
                "type": "null"
              },
              "default_visualization": {
                "type": "null"
              }
            },
            "required": [
              "id",
              "html_url",
              "name",
              "description",
              "code",
              "display_type",
              "inputs",
              "visibility",
              "origin",
              "agent_session_id",
              "agent_turn_id",
              "purpose",
              "workspace_id",
              "created_by",
              "created_at",
              "updated_at",
              "archived_at",
              "etag",
              "result_contract_version",
              "result_type",
              "default_visualization"
            ]
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "example": "snp_j572abc123def456"
              },
              "html_url": {
                "type": "string",
                "maxLength": 2048,
                "format": "uri",
                "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
                "example": "https://akua.dev/dashboards/snippets/snp_j572abc123def456"
              },
              "name": {
                "type": "string",
                "example": "Cluster Resource Audit"
              },
              "description": {
                "type": [
                  "string",
                  "null"
                ],
                "example": "Checks resource requests and limits"
              },
              "code": {
                "type": "string",
                "example": "async () => { ... }",
                "description": "Async JavaScript function body executed in a sandboxed runtime. Has access to platform.request() for API calls."
              },
              "display_type": {
                "type": "string",
                "enum": [
                  "table",
                  "stat",
                  "json",
                  "logs",
                  "timeseries"
                ],
                "description": "Controls how the snippet result is rendered in dashboard widgets",
                "example": "table"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "time_range"
                          ]
                        },
                        "default": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "resource"
                          ]
                        },
                        "resource": {
                          "type": "string",
                          "enum": [
                            "cluster",
                            "install",
                            "product",
                            "package",
                            "region"
                          ]
                        },
                        "default": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 255
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "minItems": 1,
                              "maxItems": 100
                            }
                          ]
                        },
                        "multiple": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "resource"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "enum"
                          ]
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "minItems": 1,
                          "maxItems": 100
                        },
                        "default": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "options"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "boolean"
                          ]
                        },
                        "default": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "number"
                          ]
                        },
                        "min": {
                          "type": "number"
                        },
                        "max": {
                          "type": "number"
                        },
                        "default": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "default": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "max_length": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 500
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "maxItems": 16
              },
              "visibility": {
                "type": "string",
                "enum": [
                  "workspace",
                  "session"
                ],
                "description": "Whether the snippet is reusable workspace state or scoped to an agent session."
              },
              "origin": {
                "type": "string",
                "enum": [
                  "user",
                  "agent",
                  "system"
                ],
                "description": "Who authored the snippet descriptor."
              },
              "agent_session_id": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 54
              },
              "agent_turn_id": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "maxLength": 54
              },
              "purpose": {
                "type": "string",
                "enum": [
                  "general",
                  "prepared_action",
                  "reactive_read",
                  "widget"
                ]
              },
              "workspace_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 53,
                "example": "ws_j572abc123def456"
              },
              "created_by": {
                "type": "string",
                "description": "User ID of the snippet creator"
              },
              "created_at": {
                "type": "integer",
                "minimum": 0,
                "description": "Unix timestamp (seconds)"
              },
              "updated_at": {
                "type": "integer",
                "minimum": 0,
                "description": "Unix timestamp (seconds)"
              },
              "archived_at": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 0,
                "description": "Unix timestamp (seconds) when this snippet was archived, or null while active"
              },
              "etag": {
                "type": "string"
              },
              "result_contract_version": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "result_type": {
                "type": "string",
                "enum": [
                  "scalar",
                  "timeseries",
                  "categorical",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              },
              "default_visualization": {
                "type": "string",
                "enum": [
                  "stat",
                  "sparkline",
                  "line",
                  "area",
                  "bar",
                  "donut",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              }
            },
            "required": [
              "id",
              "html_url",
              "name",
              "description",
              "code",
              "display_type",
              "inputs",
              "visibility",
              "origin",
              "agent_session_id",
              "agent_turn_id",
              "purpose",
              "workspace_id",
              "created_by",
              "created_at",
              "updated_at",
              "archived_at",
              "etag",
              "result_contract_version",
              "result_type",
              "default_visualization"
            ]
          }
        ]
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiErrorEntry"
            }
          },
          "result": {
            "type": "object",
            "properties": {},
            "description": "Always empty for error responses"
          }
        },
        "required": [
          "success",
          "errors",
          "result"
        ]
      },
      "ApiErrorEntry": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 7002,
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "example": "Resource not found",
            "description": "Human-readable error message"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "body",
              "name"
            ],
            "description": "Field path that caused the error, when applicable"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "SnippetUsageList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnippetUsage"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "SnippetUsage": {
        "type": "object",
        "properties": {
          "snippet_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "dashboard_count": {
            "type": "integer",
            "minimum": 0
          },
          "dashboards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnippetUsageDashboard"
            }
          }
        },
        "required": [
          "snippet_id",
          "dashboard_count",
          "dashboards"
        ]
      },
      "SnippetUsageDashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "workspace_id"
        ]
      },
      "ExecuteSnippetResponse": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "result": {},
              "error": {
                "type": "string"
              },
              "stats": {
                "type": "object",
                "properties": {
                  "cpu_time_ms": {
                    "type": "number"
                  },
                  "wall_time_ms": {
                    "type": "number"
                  },
                  "heap_used_bytes": {
                    "type": "number"
                  }
                },
                "required": [
                  "cpu_time_ms",
                  "wall_time_ms",
                  "heap_used_bytes"
                ]
              }
            },
            "required": [
              "stats"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "result_contract_version": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "result_type": {
                "type": "string",
                "enum": [
                  "scalar",
                  "timeseries",
                  "categorical",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              },
              "default_visualization": {
                "type": "string",
                "enum": [
                  "stat",
                  "sparkline",
                  "line",
                  "area",
                  "bar",
                  "donut",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              },
              "result": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "scalar"
                        ]
                      },
                      "value": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 16384
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "unit": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64
                      },
                      "definition": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 500
                      },
                      "timestamp": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "history": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "value": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          },
                          "required": [
                            "timestamp",
                            "value"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 2000
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "value"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "timeseries"
                        ]
                      },
                      "series": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                            },
                            "label": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "unit": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            },
                            "definition": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 500
                            }
                          },
                          "required": [
                            "key",
                            "label"
                          ],
                          "additionalProperties": false
                        },
                        "minItems": 1,
                        "maxItems": 8
                      },
                      "points": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "values": {
                              "type": "array",
                              "items": {
                                "type": [
                                  "number",
                                  "null"
                                ]
                              },
                              "maxItems": 8
                            }
                          },
                          "required": [
                            "timestamp",
                            "values"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 2000
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "series",
                      "points"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "categorical"
                        ]
                      },
                      "series": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                            },
                            "label": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "unit": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64
                            },
                            "definition": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 500
                            }
                          },
                          "required": [
                            "key",
                            "label"
                          ],
                          "additionalProperties": false
                        },
                        "minItems": 1,
                        "maxItems": 8
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                            },
                            "label": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            }
                          },
                          "required": [
                            "key",
                            "label"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 100
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "maxItems": 8
                        },
                        "maxItems": 100
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "series",
                      "categories",
                      "values"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "table"
                        ]
                      },
                      "columns": {
                        "type": "array",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64,
                                  "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                                },
                                "label": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "definition": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "text"
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "label",
                                "kind"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64,
                                  "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                                },
                                "label": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "definition": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "number"
                                  ]
                                },
                                "unit": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64
                                }
                              },
                              "required": [
                                "key",
                                "label",
                                "kind"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64,
                                  "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                                },
                                "label": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "definition": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "boolean"
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "label",
                                "kind"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64,
                                  "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                                },
                                "label": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "definition": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "timestamp"
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "label",
                                "kind"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 64,
                                  "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                                },
                                "label": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 200
                                },
                                "definition": {
                                  "type": "string",
                                  "minLength": 1,
                                  "maxLength": 500
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "link"
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "label",
                                "kind"
                              ],
                              "additionalProperties": false
                            }
                          ]
                        },
                        "minItems": 1,
                        "maxItems": 32
                      },
                      "rows": {
                        "type": "array",
                        "items": {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "string",
                                "maxLength": 16384
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "maxItems": 32
                        },
                        "maxItems": 500
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "columns",
                      "rows"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "status_list"
                        ]
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 64,
                              "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                            },
                            "label": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 200
                            },
                            "severity": {
                              "type": "string",
                              "enum": [
                                "info",
                                "success",
                                "warning",
                                "critical",
                                "unknown"
                              ]
                            },
                            "detail": {
                              "type": "string",
                              "maxLength": 16384
                            },
                            "timestamp": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "link": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 2048
                            }
                          },
                          "required": [
                            "key",
                            "label",
                            "severity"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 200
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "items"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "logs"
                        ]
                      },
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "message": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 4096
                            },
                            "timestamp": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "level": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 32
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "additionalProperties": false
                        },
                        "maxItems": 1000
                      }
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "entries"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "contract_version": {
                        "type": "number",
                        "enum": [
                          1
                        ]
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "json"
                        ]
                      },
                      "value": {}
                    },
                    "required": [
                      "contract_version",
                      "type",
                      "value"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "error": {
                "type": "string"
              },
              "stats": {
                "type": "object",
                "properties": {
                  "cpu_time_ms": {
                    "type": "number"
                  },
                  "wall_time_ms": {
                    "type": "number"
                  },
                  "heap_used_bytes": {
                    "type": "number"
                  }
                },
                "required": [
                  "cpu_time_ms",
                  "wall_time_ms",
                  "heap_used_bytes"
                ]
              }
            },
            "required": [
              "result_contract_version",
              "result_type",
              "default_visualization",
              "stats"
            ],
            "additionalProperties": false
          }
        ]
      },
      "ExecuteSnippetBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50000,
            "description": "Async JavaScript function body. Executed in a sandboxed runtime with access to platform.request()."
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "code"
        ],
        "additionalProperties": false
      },
      "ExecuteStoredSnippetBody": {
        "type": "object",
        "properties": {
          "inputs": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "additionalProperties": false
      },
      "CreateSnippetBody": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "example": "Cluster Resource Audit"
              },
              "description": {
                "type": "string",
                "maxLength": 500,
                "description": "Optional human-readable description"
              },
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50000,
                "description": "Async JavaScript function body. Executed in a sandboxed runtime with access to platform.request()."
              },
              "display_type": {
                "type": "string",
                "enum": [
                  "table",
                  "stat",
                  "json",
                  "logs",
                  "timeseries"
                ],
                "description": "Controls how the snippet result is rendered in dashboard widgets"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "time_range"
                          ]
                        },
                        "default": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "resource"
                          ]
                        },
                        "resource": {
                          "type": "string",
                          "enum": [
                            "cluster",
                            "install",
                            "product",
                            "package",
                            "region"
                          ]
                        },
                        "default": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 255
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "minItems": 1,
                              "maxItems": 100
                            }
                          ]
                        },
                        "multiple": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "resource"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "enum"
                          ]
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "minItems": 1,
                          "maxItems": 100
                        },
                        "default": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "options"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "boolean"
                          ]
                        },
                        "default": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "number"
                          ]
                        },
                        "min": {
                          "type": "number"
                        },
                        "max": {
                          "type": "number"
                        },
                        "default": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "default": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "max_length": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 500
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "maxItems": 16
              },
              "visibility": {
                "type": "string",
                "enum": [
                  "workspace",
                  "session"
                ],
                "description": "Whether the snippet is reusable workspace state or scoped to an agent session."
              },
              "origin": {
                "type": "string",
                "enum": [
                  "user",
                  "agent",
                  "system"
                ],
                "description": "Who authored the snippet descriptor."
              },
              "agent_session_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "agent_turn_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "purpose": {
                "type": "string",
                "enum": [
                  "general",
                  "prepared_action",
                  "reactive_read",
                  "widget"
                ]
              }
            },
            "required": [
              "name",
              "code",
              "display_type"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100,
                "example": "Cluster Resource Audit"
              },
              "description": {
                "type": "string",
                "maxLength": 500,
                "description": "Optional human-readable description"
              },
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50000,
                "description": "Async JavaScript function body. Executed in a sandboxed runtime with access to platform.request()."
              },
              "display_type": {
                "type": "string",
                "enum": [
                  "table",
                  "stat",
                  "json",
                  "logs",
                  "timeseries"
                ],
                "description": "Controls how the snippet result is rendered in dashboard widgets"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "time_range"
                          ]
                        },
                        "default": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "resource"
                          ]
                        },
                        "resource": {
                          "type": "string",
                          "enum": [
                            "cluster",
                            "install",
                            "product",
                            "package",
                            "region"
                          ]
                        },
                        "default": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 255
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "minItems": 1,
                              "maxItems": 100
                            }
                          ]
                        },
                        "multiple": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "resource"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "enum"
                          ]
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100
                          },
                          "minItems": 1,
                          "maxItems": 100
                        },
                        "default": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "options"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "boolean"
                          ]
                        },
                        "default": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "number"
                          ]
                        },
                        "min": {
                          "type": "number"
                        },
                        "max": {
                          "type": "number"
                        },
                        "default": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "text"
                          ]
                        },
                        "default": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "max_length": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 500
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "maxItems": 16
              },
              "visibility": {
                "type": "string",
                "enum": [
                  "workspace",
                  "session"
                ],
                "description": "Whether the snippet is reusable workspace state or scoped to an agent session."
              },
              "origin": {
                "type": "string",
                "enum": [
                  "user",
                  "agent",
                  "system"
                ],
                "description": "Who authored the snippet descriptor."
              },
              "agent_session_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "agent_turn_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "purpose": {
                "type": "string",
                "enum": [
                  "general",
                  "prepared_action",
                  "reactive_read",
                  "widget"
                ]
              },
              "result_contract_version": {
                "type": "number",
                "enum": [
                  1
                ]
              },
              "result_type": {
                "type": "string",
                "enum": [
                  "scalar",
                  "timeseries",
                  "categorical",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              },
              "default_visualization": {
                "type": "string",
                "enum": [
                  "stat",
                  "sparkline",
                  "line",
                  "area",
                  "bar",
                  "donut",
                  "table",
                  "status_list",
                  "logs",
                  "json"
                ]
              }
            },
            "required": [
              "name",
              "code",
              "display_type",
              "result_contract_version",
              "result_type",
              "default_visualization"
            ],
            "additionalProperties": false
          }
        ],
        "x-platform-exact-union": true
      },
      "UpdateSnippetBody": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "description": {
                "type": "string",
                "maxLength": 500
              },
              "code": {
                "type": "string",
                "minLength": 1,
                "maxLength": 50000
              },
              "display_type": {
                "type": "string",
                "enum": [
                  "table",
                  "stat",
                  "json",
                  "logs",
                  "timeseries"
                ],
                "description": "Controls how the snippet result is rendered in dashboard widgets"
              },
              "inputs": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "time_range"
                          ]
                        },
                        "default": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "pattern": "^[a-z][a-z0-9_]{0,31}$"
                        },
                        "label": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100
                        },
                        "description": {
                          "type": "string",
                          "maxLength": 500
                        },
                        "required": {
                          "type": "boolean"
                        },
                        "kind": {
                          "type": "string",
                          "enum": [
                            "resource"
                          ]
                        },
                        "resource": {
                          "type": "string",
                          "enum": [
                            "cluster",
                            "install",
                            "product",
                            "package",
                            "region"
                          ]
                        },
                        "default": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 255
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "maxLength": 255
                              },
                              "minItems": 1,
                              "maxItems": 100
                            }
                          ]
                        },
                        "multiple": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "key",
                        "label",
                        "kind",
                        "resource"
                      ],
                      "additionalProperties": false
                    },
                    {
[...]
