{
  "openapi": "3.1.0",
  "info": {
    "title": "Akua API",
    "version": "1.0.0",
    "description": "Public API for managing Akua workspaces, clusters, products, and installs.\n\nAuthenticate with a workspace API token via the `Authorization: Bearer sk_akua_...` header.\n\nA workspace-owned token implies its workspace. Broad tokens select the active workspace via the optional `Akua-Context` header.",
    "contact": {
      "name": "Akua API support",
      "email": "support@akua.dev",
      "url": "https://akua.dev/docs"
    }
  },
  "servers": [
    {
      "url": "https://api.akua.dev/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication and token management."
    },
    {
      "name": "Agents",
      "description": "Agent identities and configuration."
    },
    {
      "name": "Agent sessions",
      "description": "Durable agent conversations and tasks."
    },
    {
      "name": "Agent turns",
      "description": "Submitted agent work and event emission."
    },
    {
      "name": "Agent events",
      "description": "Normalized agent event history and streams."
    },
    {
      "name": "Custom domains",
      "description": "Workspace custom domains and routing targets."
    },
    {
      "name": "Cloudflare",
      "description": "Cloudflare account credentials and gateway control."
    },
    {
      "name": "Clusters",
      "description": "Kubernetes clusters and cluster access operations."
    },
    {
      "name": "ComputeConfigs",
      "description": "Workspace compute provider configurations."
    },
    {
      "name": "Entitlements",
      "description": "Effective workspace capabilities and limits."
    },
    {
      "name": "Dashboards",
      "description": "Dashboard and widget resources."
    },
    {
      "name": "Installs",
      "description": "Product installation and render operations."
    },
    {
      "name": "Machines",
      "description": "Compute machines and lifecycle events."
    },
    {
      "name": "Notifications",
      "description": "User notification state."
    },
    {
      "name": "Offer Channels",
      "description": "Private offer channels and policy versions."
    },
    {
      "name": "Offers",
      "description": "Marketplace offers and redemption tracking."
    },
    {
      "name": "Operations",
      "description": "Long-running operation status and controls."
    },
    {
      "name": "Order Drafts",
      "description": "Draft checkout orders and checkout sessions."
    },
    {
      "name": "Organizations",
      "description": "Organizations, memberships, and managed workspaces."
    },
    {
      "name": "Packages",
      "description": "Software packages, versions, and input schemas."
    },
    {
      "name": "Products",
      "description": "Marketplace product catalog resources."
    },
    {
      "name": "Preview hostnames",
      "description": "Install preview hostnames and routing state."
    },
    {
      "name": "Quotas",
      "description": "Workspace quota limits and usage."
    },
    {
      "name": "Regions",
      "description": "Available deployment regions."
    },
    {
      "name": "Registry",
      "description": "Container registry credentials and repositories."
    },
    {
      "name": "Repository change requests",
      "description": "Fork-backed repository change reviews and lifecycle actions."
    },
    {
      "name": "Repositories",
      "description": "Source repositories available to the workspace."
    },
    {
      "name": "Secrets",
      "description": "Workspace secrets and secret versions."
    },
    {
      "name": "Snippets",
      "description": "Reusable snippets and snippet runs."
    },
    {
      "name": "Workspace subdomains",
      "description": "Workspace subdomain identity."
    },
    {
      "name": "Workspaces",
      "description": "Workspace resources, members, and billing state."
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "workspace API token (sk_akua_...) or OAuth2 JWT. Create tokens at https://akua.dev/developers/api-tokens"
      }
    },
    "schemas": {
      "ComputeMachine": {
        "type": "object",
        "properties": {
          "provider_id": {
            "type": "string",
            "example": "compute://abc123"
          },
          "node_name": {
            "type": "string",
            "example": "worker-xl8r2"
          },
          "status": {
            "type": "string",
            "example": "provisioning"
          }
        },
        "required": [
          "provider_id",
          "node_name",
          "status"
        ]
      },
      "ApiErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiErrorEntry"
            }
          },
          "result": {
            "type": "object",
            "properties": {},
            "description": "Always empty for error responses"
          }
        },
        "required": [
          "success",
          "errors",
          "result"
        ]
      },
      "ApiErrorEntry": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "example": 7002,
            "description": "Machine-readable error code"
          },
          "message": {
            "type": "string",
            "example": "Resource not found",
            "description": "Human-readable error message"
          },
          "path": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "body",
              "name"
            ],
            "description": "Field path that caused the error, when applicable"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "ComputeError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "InsufficientCapacity",
            "description": "Machine-readable error type (e.g., InsufficientCapacity, NodeClaimNotFound)"
          },
          "message": {
            "type": "string",
            "example": "cpx31 out of stock in fsn1"
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "InstanceType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "cpx31"
          },
          "arch": {
            "type": "string",
            "example": "amd64"
          },
          "cpu": {
            "type": "number",
            "example": 4
          },
          "memory_mib": {
            "type": "number",
            "example": 8192
          },
          "storage_mib": {
            "type": "number",
            "example": 163840
          },
          "price_per_hour": {
            "type": "number",
            "example": 0.0208
          },
          "available": {
            "type": "boolean",
            "example": true
          },
          "zone": {
            "type": "string",
            "example": "fsn1"
          },
          "capacity_type": {
            "type": "string",
            "example": "on-demand"
          }
        },
        "required": [
          "name",
          "arch",
          "cpu",
          "memory_mib",
          "storage_mib",
          "price_per_hour",
          "available"
        ]
      },
      "DriftResult": {
        "type": "object",
        "properties": {
          "drifted": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "drifted"
        ]
      },
      "Suspension": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string"
          },
          "cluster_id": {
            "type": "string"
          },
          "server_type": {
            "type": "string",
            "example": "cpx31"
          },
          "location": {
            "type": "string",
            "example": "fsn1"
          },
          "hostname": {
            "type": "string",
            "example": "node-xl8r2abc"
          },
          "reason": {
            "type": "string",
            "enum": [
              "manual",
              "downgrade"
            ]
          },
          "provider_suspend_data": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string"
              },
              "snapshot_id": {
                "type": "number"
              },
              "size_gb": {
                "type": "number"
              }
            },
            "required": [
              "provider",
              "snapshot_id",
              "size_gb"
            ]
          },
          "monthly_cost_cents": {
            "type": "number"
          },
          "expires_at": {
            "type": "number"
          },
          "created_at": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "cluster_id",
          "server_type",
          "location",
          "hostname",
          "reason",
          "provider_suspend_data",
          "monthly_cost_cents",
          "expires_at",
          "created_at"
        ]
      },
      "ComputeConfigList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeConfig"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "ComputeConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "provider": {
            "type": "string",
            "example": "hcloud"
          },
          "provider_config": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string"
              },
              "region": {
                "type": "string"
              },
              "image": {
                "type": "string"
              },
              "machine_type_filter": {
                "type": "string",
                "nullable": true,
                "description": "Glob pattern to filter instance types (e.g., \"cx*\", \"cpx*\")"
              }
            },
            "required": [
              "provider",
              "region",
              "image",
              "machine_type_filter"
            ]
          },
          "secret_id": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "name",
          "provider",
          "provider_config",
          "secret_id",
          "created_at"
        ]
      },
      "CreatedComputeConfig": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ]
      },
      "SnippetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Snippet"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Snippet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "example": "snp_j572abc123def456"
          },
          "html_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
            "example": "https://akua.dev/dashboards/snippets/snp_j572abc123def456"
          },
          "name": {
            "type": "string",
            "example": "Cluster Resource Audit"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "example": "Checks resource requests and limits"
          },
          "code": {
            "type": "string",
            "example": "async () => { ... }",
            "description": "Async JavaScript function body executed in a sandboxed runtime. Has access to platform.request() for API calls."
          },
          "display_type": {
            "type": "string",
            "enum": [
              "table",
              "stat",
              "json",
              "logs"
            ],
            "description": "Controls how the snippet result is rendered in dashboard widgets",
            "example": "table"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "workspace",
              "session"
            ],
            "description": "Whether the snippet is reusable workspace state or scoped to an agent session."
          },
          "origin": {
            "type": "string",
            "enum": [
              "user",
              "agent",
              "system"
            ],
            "description": "Who authored the snippet descriptor."
          },
          "agent_session_id": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 54
          },
          "agent_turn_id": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 54
          },
          "purpose": {
            "type": "string",
            "enum": [
              "general",
              "prepared_action",
              "reactive_read",
              "widget"
            ]
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "example": "ws_j572abc123def456"
          },
          "created_by": {
            "type": "string",
            "description": "User ID of the snippet creator"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "html_url",
          "name",
          "description",
          "code",
          "display_type",
          "visibility",
          "origin",
          "agent_session_id",
          "agent_turn_id",
          "purpose",
          "workspace_id",
          "created_by",
          "created_at",
          "updated_at",
          "etag"
        ]
      },
      "SnippetUsageList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnippetUsage"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "SnippetUsage": {
        "type": "object",
        "properties": {
          "snippet_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "dashboard_count": {
            "type": "integer",
            "minimum": 0
          },
          "dashboards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnippetUsageDashboard"
            }
          }
        },
        "required": [
          "snippet_id",
          "dashboard_count",
          "dashboards"
        ]
      },
      "SnippetUsageDashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "workspace_id"
        ]
      },
      "ExecuteSnippetResponse": {
        "type": "object",
        "properties": {
          "result": {
            "nullable": true
          },
          "error": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "cpu_time_ms": {
                "type": "number"
              },
              "wall_time_ms": {
                "type": "number"
              },
              "heap_used_bytes": {
                "type": "number"
              }
            },
            "required": [
              "cpu_time_ms",
              "wall_time_ms",
              "heap_used_bytes"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "ExecuteSnippetBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50000,
            "description": "Async JavaScript function body. Executed in a sandboxed runtime with access to platform.request()."
          }
        },
        "required": [
          "code"
        ],
        "additionalProperties": false
      },
      "SnippetRun": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "snippet_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "agent_session_id": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 54
          },
          "agent_turn_id": {
            "type": "string",
            "nullable": true,
            "minLength": 1,
            "maxLength": 54
          },
          "state": {
            "type": "string",
            "enum": [
              "succeeded",
              "failed",
              "timed_out"
            ],
            "description": "Terminal run state in past participle form."
          },
          "overrides": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "output": {
            "nullable": true
          },
          "error": {
            "$ref": "#/components/schemas/SnippetRunError"
          },
          "duration_ms": {
            "type": "number"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "snippet_id",
          "agent_session_id",
          "agent_turn_id",
          "state",
          "duration_ms",
          "created_at",
          "etag"
        ]
      },
      "SnippetRunError": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "nullable": true
          }
        },
        "required": [
          "code",
          "message"
        ]
      },
      "CreateSnippetRunBody": {
        "type": "object",
        "properties": {
          "overrides": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "agent_turn_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          }
        },
        "additionalProperties": false
      },
      "SnippetRunList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SnippetRun"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DashboardList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dashboard"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "j572abc123def456"
          },
          "html_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
            "example": "https://akua.dev/dashboards/dash_j572abc123def456"
          },
          "name": {
            "type": "string",
            "example": "Cluster Overview"
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "Optional dashboard description"
          },
          "workspace_id": {
            "type": "string"
          },
          "widgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Widget"
            },
            "description": "Output-only denormalized widget list for dashboard read models."
          },
          "created_by": {
            "type": "string",
            "description": "User ID of the dashboard creator"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "html_url",
          "name",
          "description",
          "workspace_id",
          "widgets",
          "created_by",
          "created_at",
          "updated_at",
          "etag"
        ]
      },
      "Widget": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "dashboard_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55
          },
          "widget_type": {
            "type": "string",
            "enum": [
              "snippet"
            ],
            "description": "Dashboard widget descriptor type. `snippet` is the first concrete type; future agent-authored widgets extend this field."
          },
          "snippet_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "position": {
            "type": "integer"
          },
          "col_span": {
            "anyOf": [
              {
                "type": "number",
                "enum": [
                  1
                ]
              },
              {
                "type": "number",
                "enum": [
                  2
                ]
              },
              {
                "type": "number",
                "enum": [
                  3
                ]
              },
              {
                "type": "number",
                "enum": [
                  4
                ]
              }
            ]
          },
          "display_type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "table",
              "stat",
              "json",
              "logs",
              null
            ],
            "description": "Controls how the snippet result is rendered in dashboard widgets"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "dashboard_id",
          "widget_type",
          "snippet_id",
          "position",
          "col_span",
          "display_type",
          "created_at",
          "updated_at",
          "etag"
        ]
      },
      "WidgetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Widget"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "OperationEnvelope": {
        "type": "object",
        "properties": {
          "operation_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          }
        },
        "required": [
          "operation_id"
        ]
      },
      "MachineList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Machine"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Machine": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "cluster_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "compute_config_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "provider_id": {
            "type": "string",
            "description": "Provider URI identifier in canonical form (for example, compute://hcloud/server-1234).",
            "example": "compute://hcloud/server-1234"
          },
          "provider_resource": {
            "type": "object",
            "properties": {
              "identity_kind": {
                "type": "string",
                "enum": [
                  "recyclable",
                  "persistent"
                ]
              },
              "public_ip": {
                "type": "string",
                "nullable": true
              },
              "floating_ip": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "ipv4": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "ipv4"
                ]
              }
            },
            "required": [
              "identity_kind",
              "public_ip"
            ]
          },
          "name": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "PROVISIONING",
              "SUSPENDING",
              "SUSPENDED",
              "RESUMING",
              "DELETING"
            ],
            "description": "Machine lifecycle state."
          },
          "reconciling": {
            "type": "boolean"
          },
          "current_suspension": {
            "type": "object",
            "properties": {
              "event_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "snapshot_ref": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "hcloud"
                    ]
                  },
                  "snapshot_id": {
                    "type": "integer"
                  },
                  "size_gb": {
                    "type": "number"
                  }
                },
                "required": [
                  "provider",
                  "snapshot_id",
                  "size_gb"
                ]
              },
              "expires_at": {
                "type": "integer",
                "minimum": 0,
                "description": "Unix timestamp (seconds)"
              },
              "monthly_cost_cents": {
                "type": "integer"
              },
              "reason": {
                "type": "string",
                "enum": [
                  "manual",
                  "downgrade"
                ]
              }
            },
            "required": [
              "event_id",
              "snapshot_ref",
              "expires_at",
              "monthly_cost_cents",
              "reason"
            ]
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "cluster_id",
          "compute_config_id",
          "provider_id",
          "provider_resource",
          "state",
          "reconciling",
          "created_at",
          "updated_at",
          "etag"
        ]
      },
      "SuspendMachineBody": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "enum": [
              "manual",
              "downgrade"
            ]
          }
        },
        "additionalProperties": false
      },
      "ResumeMachineBody": {
        "type": "object",
        "properties": {},
        "additionalProperties": false
      },
      "DriftReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Drift report ID."
          },
          "machine_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "state": {
            "type": "string",
            "enum": [
              "in_sync",
              "drifted"
            ],
            "description": "Machine drift comparison state."
          },
          "delta": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            }
          },
          "provider_snapshot": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string"
              },
              "raw_attrs": {
                "type": "object",
                "additionalProperties": {
                  "nullable": true
                }
              }
            },
            "required": [
              "provider",
              "raw_attrs"
            ]
          },
          "etag": {
            "type": "string"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "started_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "expires_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          }
        },
        "required": [
          "id",
          "machine_id",
          "state",
          "etag",
          "created_at",
          "started_at",
          "expires_at"
        ]
      },
      "DriftReportList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DriftReport"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "SuspensionEventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SuspensionEvent"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "SuspensionEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "machine_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "state": {
            "type": "string",
            "enum": [
              "in_progress",
              "completed",
              "resumed",
              "expired"
            ],
            "description": "Suspension-event lifecycle state."
          },
          "started_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "resumed_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "expires_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "snapshot_ref": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "enum": [
                  "hcloud"
                ]
              },
              "snapshot_id": {
                "type": "integer"
              },
              "size_gb": {
                "type": "number"
              }
            },
            "required": [
              "provider",
              "snapshot_id",
              "size_gb"
            ]
          },
          "monthly_cost_cents": {
            "type": "integer"
          },
          "total_cost_cents": {
            "type": "integer"
          },
          "reason": {
            "type": "string",
            "enum": [
              "manual",
              "downgrade"
            ]
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "machine_id",
          "state",
          "started_at",
          "expires_at",
          "snapshot_ref",
          "monthly_cost_cents",
          "reason",
          "etag"
        ]
      },
      "CredentialScope": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "system"
                ],
                "description": "Use system-managed provider credentials."
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "byom"
                ]
              },
              "secret_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54
              },
              "secret_version_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 55
              }
            },
            "required": [
              "kind",
              "secret_id"
            ],
            "additionalProperties": false
          }
        ]
      },
      "ProductList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "example": "prod_j572abc123def456"
          },
          "html_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
            "example": "https://akua.dev/products/prod_j572abc123def456"
          },
          "name": {
            "type": "string",
            "example": "PostgreSQL Managed"
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "package": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "example": "pkg_j572abc123def456"
              },
              "version_pin": {
                "$ref": "#/components/schemas/PackageVersionPin"
              },
              "default_version_id": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "maxLength": 55,
                "description": "Concrete PackageVersion currently resolved by the version pin, or null when latest has no published version yet."
              }
            },
            "required": [
              "id",
              "version_pin",
              "default_version_id"
            ],
            "additionalProperties": false,
            "description": "Reference to the Package backing this product. Fetch full details via `GET /v1/packages/{id}`."
          },
          "custom_image": {
            "type": "string",
            "description": "Custom display image URL — overrides the package logo on customer-facing pages"
          },
          "custom_description": {
            "type": "string",
            "description": "Custom display description — overrides the package description"
          },
          "marketplace": {
            "$ref": "#/components/schemas/ProductMarketplaceState"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ],
            "description": "Product lifecycle state."
          },
          "archived_at": {
            "type": "integer",
            "minimum": 0,
            "description": "When the product was archived, expressed as Unix seconds since epoch."
          },
          "archive_reason": {
            "type": "string",
            "description": "Reason supplied by the seller when archiving."
          }
        },
        "required": [
          "id",
          "html_url",
          "name",
          "workspace_id",
          "package",
          "marketplace",
          "created_at",
          "updated_at",
          "etag",
          "state"
        ]
      },
      "PackageVersionPin": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "latest"
                ]
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "pinned"
                ]
              },
              "version": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|[0-9A-Za-z-]*[A-Za-z-][0-9A-Za-z-]*)(?:\\.(?:0|[1-9]\\d*|[0-9A-Za-z-]*[A-Za-z-][0-9A-Za-z-]*))*))?(?:\\+([0-9A-Za-z-]+(?:\\.[0-9A-Za-z-]+)*))?$",
                "example": "1.2.3"
              }
            },
            "required": [
              "kind",
              "version"
            ],
            "additionalProperties": false
          }
        ]
      },
      "ProductMarketplaceState": {
        "type": "object",
        "nullable": true,
        "properties": {
          "published": {
            "type": "boolean",
            "description": "Whether the product is publicly visible on the marketplace"
          }
        },
        "required": [
          "published"
        ],
        "additionalProperties": false,
        "description": "Marketplace listing configuration. When null the product is not listed."
      },
      "DashboardProductList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DashboardProduct"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "DashboardProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "example": "prod_j572abc123def456"
          },
          "html_url": {
            "type": "string",
            "maxLength": 2048,
            "format": "uri",
            "description": "Absolute dashboard URL for this resource. OUTPUT_ONLY.",
            "example": "https://akua.dev/products/prod_j572abc123def456"
          },
          "name": {
            "type": "string",
            "example": "PostgreSQL Managed"
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "package": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "example": "pkg_j572abc123def456"
              },
              "version_pin": {
                "$ref": "#/components/schemas/PackageVersionPin"
              },
              "default_version_id": {
                "type": "string",
                "nullable": true,
                "minLength": 1,
                "maxLength": 55,
                "description": "Concrete PackageVersion currently resolved by the version pin, or null when latest has no published version yet."
              }
            },
            "required": [
              "id",
              "version_pin",
              "default_version_id"
            ],
            "additionalProperties": false,
            "description": "Reference to the Package backing this product. Fetch full details via `GET /v1/packages/{id}`."
          },
          "custom_image": {
            "type": "string",
            "description": "Custom display image URL — overrides the package logo on dashboard catalog rows"
          },
          "marketplace": {
            "$ref": "#/components/schemas/ProductMarketplaceState"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ],
            "description": "Product lifecycle state."
          },
          "archived_at": {
            "type": "integer",
            "minimum": 0,
            "description": "When the product was archived, expressed as Unix seconds since epoch."
          },
          "archive_reason": {
            "type": "string",
            "description": "Reason supplied by the seller when archiving."
          },
          "cluster_count": {
            "type": "integer",
            "minimum": 0
          },
          "region_count": {
            "type": "integer",
            "minimum": 0
          },
          "offer_count": {
            "type": "integer",
            "minimum": 0
          },
          "install_count": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "id",
          "html_url",
          "name",
          "workspace_id",
          "package",
          "marketplace",
          "created_at",
          "updated_at",
          "etag",
          "state",
          "cluster_count",
          "region_count",
          "offer_count",
          "install_count"
        ]
      },
      "MarketplaceProductList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/MarketplaceProduct"
        }
      },
      "MarketplaceProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "name": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketplaceRegion"
            }
          },
          "hasStripe": {
            "type": "boolean"
          },
          "marketplace": {
            "$ref": "#/components/schemas/MarketplaceProductState"
          },
          "settings": {
            "$ref": "#/components/schemas/MarketplaceProductSettings"
          },
          "visibleOffer": {
            "$ref": "#/components/schemas/MarketplaceVisibleOffer"
          }
        },
        "required": [
          "id",
          "name",
          "regions",
          "hasStripe"
        ]
      },
      "MarketplaceRegion": {
        "type": "object",
        "properties": {
          "_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "_creationTime": {
            "type": "number"
          },
          "workspaceId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "name": {
            "type": "string"
          },
          "icon": {
            "type": "string"
          }
        },
        "required": [
          "_id",
          "_creationTime",
          "workspaceId",
          "name"
        ]
      },
      "MarketplaceProductState": {
        "type": "object",
        "properties": {
          "published": {
            "type": "boolean"
          },
          "externalUrl": {
            "type": "string"
          }
        },
        "required": [
          "published"
        ]
      },
      "MarketplaceProductSettings": {
        "type": "object",
        "properties": {
          "customImage": {
            "type": "string"
          },
          "customDescription": {
            "type": "string"
          },
          "showSources": {
            "type": "boolean"
          }
        }
      },
      "MarketplaceVisibleOffer": {
        "type": "object",
        "properties": {
          "shortHash": {
            "type": "string"
          }
        },
        "required": [
          "shortHash"
        ]
      },
      "MarketplaceProductDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "name": {
            "type": "string"
          },
          "valuesSchema": {
            "type": "string"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketplaceRegion"
            }
          },
          "pricing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarketplaceProductPricing"
            }
          },
          "isOwner": {
            "type": "boolean"
          },
          "settings": {
            "$ref": "#/components/schemas/MarketplaceProductSettings"
          },
          "stripePriceIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "marketplace": {
            "$ref": "#/components/schemas/MarketplaceProductState"
          },
          "visibleOffer": {
            "$ref": "#/components/schemas/MarketplaceVisibleOffer"
          }
        },
        "required": [
          "id",
          "name",
          "regions",
          "pricing",
          "isOwner",
          "settings",
          "stripePriceIds"
        ]
      },
      "MarketplaceProductPricing": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number"
          },
          "recurring": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "price",
          "currency"
        ]
      },
      "CreateProductBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "example": "PostgreSQL Managed"
          },
          "package_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "package_version_pin": {
            "$ref": "#/components/schemas/PackageVersionPin"
          },
          "custom_image": {
            "type": "string",
            "format": "uri",
            "description": "Custom display image URL — overrides the package logo"
          },
          "custom_description": {
            "type": "string",
            "maxLength": 500,
            "description": "Custom display description — overrides the package description"
          },
          "marketplace": {
            "$ref": "#/components/schemas/ProductMarketplace"
          }
        },
        "required": [
          "name",
          "package_id",
          "package_version_pin"
        ],
        "additionalProperties": false
      },
      "ProductMarketplace": {
        "type": "object",
        "properties": {
          "published": {
            "type": "boolean",
            "description": "Whether the product is publicly visible on the marketplace"
          }
        },
        "required": [
          "published"
        ],
        "additionalProperties": false,
        "description": "Marketplace listing config. Omit to keep the product unlisted."
      },
      "UpdateProductBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 2,
            "maxLength": 64,
            "example": "PostgreSQL Managed"
          },
          "package_version_pin": {
            "$ref": "#/components/schemas/PackageVersionPin"
          },
          "custom_image": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "custom_description": {
            "type": "string",
            "nullable": true,
            "maxLength": 500
          },
          "marketplace": {
            "$ref": "#/components/schemas/ProductMarketplace"
          }
        },
        "additionalProperties": false
      },
      "ArchiveProductBody": {
        "type": "object",
        "properties": {
          "cascade_offers": {
            "type": "boolean",
            "default": false
          },
          "archive_reason": {
            "type": "string",
            "maxLength": 500
          }
        },
        "additionalProperties": false
      },
      "OfferChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "authority_workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "partner_organization_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "product_scope": {
            "$ref": "#/components/schemas/OfferChannelProductScope"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "archived"
            ]
          },
          "commercial_authority": {
            "type": "string",
            "enum": [
              "platform",
              "workspace"
            ]
          },
          "active_channel_policy_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "workspace_id",
          "display_name",
          "product_scope",
          "state",
          "commercial_authority",
          "created_at",
          "etag"
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferChannelProductScope": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "all_products"
                ]
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "selected_products"
                ]
              },
              "product_ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 55
                },
                "maxItems": 100
              }
            },
            "required": [
              "type",
              "product_ids"
            ]
          }
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "CreateOfferChannelBody": {
        "type": "object",
        "properties": {
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "partner_organization_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "product_scope": {
            "$ref": "#/components/schemas/OfferChannelProductScope"
          },
          "commercial_authority": {
            "type": "string",
            "enum": [
              "platform",
              "workspace"
            ],
            "default": "platform"
          }
        },
        "required": [
          "display_name",
          "product_scope"
        ],
        "additionalProperties": false,
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferChannelList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OfferChannelListItem"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferChannelListItem": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OfferChannel"
          },
          {
            "type": "object",
            "properties": {
              "active_policy": {
                "$ref": "#/components/schemas/ChannelPolicy"
              }
            }
          }
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "ChannelPolicy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56
          },
          "offer_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "version": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "state": {
            "type": "string",
            "enum": [
              "draft",
              "approved",
              "active",
              "archived"
            ]
          },
          "policy": {
            "$ref": "#/components/schemas/ChannelPolicyPayload"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "approved_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "activated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "offer_channel_id",
          "version",
          "state",
          "policy",
          "created_at",
          "etag"
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "ChannelPolicyPayload": {
        "type": "object",
        "properties": {
          "pricing_policy": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "fixed_or_range"
                ]
              },
              "currency": {
                "type": "string",
                "enum": [
                  "eur",
                  "usd"
                ]
              },
              "default_unit_amount": {
                "type": "integer",
                "minimum": 0
              },
              "minimum_unit_amount": {
                "type": "integer",
                "minimum": 0
              },
              "maximum_unit_amount": {
                "type": "integer",
                "minimum": 0
              },
              "interval": {
                "$ref": "#/components/schemas/PricingInterval"
              }
            },
            "required": [
              "type",
              "currency",
              "default_unit_amount",
              "minimum_unit_amount",
              "maximum_unit_amount",
              "interval"
            ],
            "additionalProperties": false
          },
          "settlement_policy": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "platform_resolved"
                ]
              },
              "allowed_commercial_modes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommercialMode"
                },
                "minItems": 1
              }
            },
            "required": [
              "type",
              "allowed_commercial_modes"
            ],
            "additionalProperties": false
          },
          "approval_policy": {
            "type": "object",
            "properties": {
              "paid_offers": {
                "type": "string",
                "enum": [
                  "requires_platform_approval",
                  "auto_approved"
                ]
              },
              "non_billable_test_offers": {
                "type": "string",
                "enum": [
                  "requires_platform_approval",
                  "auto_approved"
                ]
              }
            },
            "required": [
              "paid_offers",
              "non_billable_test_offers"
            ],
            "additionalProperties": false
          },
          "trusted_testing_policy": {
            "type": "object",
            "properties": {
              "stripe_checkout_environment": {
                "type": "string",
                "enum": [
                  "sandbox"
                ]
              }
            },
            "required": [
              "stripe_checkout_environment"
            ],
            "additionalProperties": false
          },
          "support_access_policy": {
            "$ref": "#/components/schemas/OfferSupportScope"
          }
        },
        "required": [
          "pricing_policy",
          "settlement_policy",
          "approval_policy",
          "support_access_policy"
        ],
        "additionalProperties": false,
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "PricingInterval": {
        "type": "string",
        "enum": [
          "month",
          "year"
        ]
      },
      "CommercialMode": {
        "type": "string",
        "enum": [
          "paid",
          "non_billable_test"
        ],
        "description": "Customer commercial path requested for an offer. `paid` routes through checkout when policy requires it; `non_billable_test` creates a non-billable test offer when policy allows it."
      },
      "OfferSupportScope": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "scoped_support_relationship"
            ]
          },
          "visibility": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "install_state",
                "app_urls"
              ]
            },
            "maxItems": 20
          }
        },
        "required": [
          "type",
          "visibility"
        ],
        "additionalProperties": false
      },
      "CreateChannelPolicyBody": {
        "type": "object",
        "properties": {
          "offer_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "policy": {
            "$ref": "#/components/schemas/ChannelPolicyPayload"
          }
        },
        "required": [
          "offer_channel_id",
          "policy"
        ],
        "additionalProperties": false,
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "ChannelPolicyList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChannelPolicy"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ],
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Offer"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "True if more items exist after this page."
          },
          "next_cursor": {
            "type": "string",
            "nullable": true,
            "description": "Opaque cursor for the next page, or null if no more pages."
          }
        },
        "required": [
          "data",
          "has_more",
          "next_cursor"
        ]
      },
      "Offer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56,
            "description": "Offer ID"
          },
          "short_hash": {
            "type": "string",
            "description": "8-char base62 code that appears in the customer-clicked URL `/i/<short_hash>`",
            "example": "aB3xK9pQ"
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "description": "Workspace ID"
          },
          "target_workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "description": "Optional workspace that receives the offer outcome when visible to the caller"
          },
          "created_by": {
            "type": "string",
            "description": "User ID of the seller who issued the offer"
          },
          "product_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "description": "Product ID"
          },
          "package_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Package ID"
          },
          "package_version_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "description": "Package version ID — pinned at create time"
          },
          "input_schema": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "JSON Schema 2020-12 with x-ui extensions for the pinned package version. Present on customer resolve responses so the install wizard can render the configure step."
          },
          "allowed_emails": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Empty / omitted = anyone authed can claim. Non-empty = the customer's verified email must match. Only returned to authed callers."
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "nullable": true,
                  "description": "Pre-fill value for this schema property"
                },
                "locked": {
                  "type": "boolean",
                  "description": "When true the customer cannot override; submit ignores client value"
                }
              },
              "required": [
                "value",
                "locked"
              ]
            },
            "description": "Seller pre-fills keyed by package input-schema property name. Only returned to authed callers whose email matches the allowlist."
          },
          "tier": {
            "type": "string",
            "description": "Suggested billing tier"
          },
          "region_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Region pin"
          },
          "cluster_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Cluster pin"
          },
          "offer_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Offer Channel that resolved private-offer policy for this offer"
          },
          "commercial_mode": {
            "$ref": "#/components/schemas/CommercialMode"
          },
          "approval_state": {
            "$ref": "#/components/schemas/OfferApprovalState"
          },
          "requested_policy_snapshot": {
            "$ref": "#/components/schemas/OfferPolicySnapshot"
          },
          "approved_policy_snapshot": {
            "$ref": "#/components/schemas/OfferPolicySnapshot"
          },
          "notes": {
            "type": "string"
          },
          "expires_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "max_uses": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "order_ttl_minutes": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "maximum": 1440,
            "description": "Per-redemption order TTL in minutes. Defaults to 120; capped at 1440 (24h)."
          },
          "used_count": {
            "type": "integer",
            "minimum": 0
          },
          "archived_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "status": {
            "$ref": "#/components/schemas/OfferStatus"
          },
          "created_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "updated_at": {
            "type": "integer",
            "minimum": 0,
            "description": "Unix timestamp (seconds)"
          },
          "etag": {
            "type": "string"
          },
          "product_name": {
            "type": "string",
            "description": "Display name of the offered product"
          },
          "image_url": {
            "type": "string",
            "description": "Logo or icon URL for the customer landing page"
          },
          "seller_name": {
            "type": "string",
            "description": "Display name of the seller who issued this offer"
          }
        },
        "required": [
          "id",
          "short_hash",
          "package_id",
          "package_version_id",
          "status",
          "created_at"
        ]
      },
      "OfferApprovalState": {
        "type": "string",
        "enum": [
          "not_required",
          "pending",
          "approved",
          "rejected"
        ]
      },
      "OfferPolicySnapshot": {
        "type": "object",
        "properties": {
          "offer_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54
          },
          "channel_policy_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56
          },
          "channel_policy_version": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true
          },
          "commercial_mode": {
            "$ref": "#/components/schemas/CommercialMode"
          },
          "approval_required": {
            "type": "boolean"
          },
          "checkout_required": {
            "type": "boolean"
          },
          "approval_mode": {
            "type": "string",
            "enum": [
              "requires_platform_approval",
              "auto_approved_within_policy"
            ],
            "x-platform-visibility": "TRUSTED_PARTNER"
          },
          "checkout_environment": {
            "type": "string",
            "enum": [
              "none",
              "stripe_live",
              "stripe_sandbox"
            ],
            "x-platform-visibility": "TRUSTED_PARTNER"
          },
          "pricing_bounds": {
            "$ref": "#/components/schemas/OfferPricingBounds"
          },
          "pricing_summary": {
            "$ref": "#/components/schemas/OfferPricingSummary"
          },
          "support_scope": {
            "$ref": "#/components/schemas/OfferSupportScope"
          },
          "blocking_reasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": []
          }
        },
        "required": [
          "offer_channel_id",
          "channel_policy_id",
          "channel_policy_version",
          "commercial_mode",
          "approval_required",
          "checkout_required",
          "support_scope"
        ]
      },
      "OfferPricingBounds": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "eur",
              "usd"
            ]
          },
          "default_unit_amount": {
            "type": "integer",
            "minimum": 0
          },
          "minimum_unit_amount": {
            "type": "integer",
            "minimum": 0
          },
          "maximum_unit_amount": {
            "type": "integer",
            "minimum": 0
          },
          "interval": {
            "$ref": "#/components/schemas/PricingInterval"
          }
        },
        "required": [
          "currency",
          "default_unit_amount",
          "minimum_unit_amount",
          "maximum_unit_amount",
          "interval"
        ],
        "additionalProperties": false,
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferPricingSummary": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "eur",
              "usd"
            ]
          },
          "unit_amount": {
            "type": "integer",
            "minimum": 0
          },
          "interval": {
            "$ref": "#/components/schemas/PricingInterval"
          },
          "source": {
            "type": "string",
            "enum": [
              "channel_policy",
              "request"
            ]
          }
        },
        "required": [
          "currency",
          "unit_amount",
          "interval",
          "source"
        ]
      },
      "OfferStatus": {
        "type": "string",
        "enum": [
          "active",
          "archived",
          "expired",
          "redeemed"
        ],
        "description": "Computed lifecycle status — never set directly; derived from row state."
      },
      "PreviewOfferBody": {
        "type": "object",
        "properties": {
          "package_version_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "description": "Package version ID to preview against. Preview requires a concrete package version because no offer row is created to store a resolved product pin."
          },
          "product_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "description": "Product ID for channel policy attribution."
          },
          "target_workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "description": "Existing customer workspace used for preview context."
          },
          "allowed_emails": {
            "type": "array",
            "items": {
              "type": "string",
              "maxLength": 254,
              "format": "email"
            },
            "maxItems": 50,
            "description": "Verified customer email allowlist used for preview context."
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "value": {
                  "nullable": true,
                  "description": "Pre-fill value for this schema property"
                },
                "locked": {
                  "type": "boolean",
                  "description": "When true the customer cannot override; submit ignores client value"
                }
              },
              "required": [
                "value",
                "locked"
              ]
            },
            "description": "Package input pre-fills used for preview context."
          },
          "region_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Delivery region pin used for preview context."
          },
          "cluster_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Delivery cluster pin used for preview context."
          },
          "offer_channel_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Offer Channel whose active policy is previewed."
          },
          "commercial_mode": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CommercialMode"
              },
              {
                "description": "Requested customer path for channel policy resolution. This is not settlement authority; the active channel policy decides the final terms."
              }
            ]
          },
          "pricing_request": {
            "$ref": "#/components/schemas/OfferPricingRequest"
          }
        },
        "required": [
          "package_version_id",
          "product_id",
          "offer_channel_id",
          "commercial_mode"
        ],
        "additionalProperties": false,
        "description": "Preview channel policy resolution for a concrete package version and product before creating an offer.",
        "x-platform-visibility": "TRUSTED_PARTNER"
      },
      "OfferPricingRequest": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "enum": [
              "eur",
              "usd"
            ],
            "example": "eur",
            "description": "ISO currency code for the requested price."
          },
          "unit_amount": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100000000,
            "description": "Requested price in the smallest currency unit, for example cents for EUR or USD."
          },
          "interval": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PricingInterval"
              },
              {
                "description": "Billing interval for the requested price."
              }
            ]
          }
        },
        "required": [
          "currency",
          "unit_amount",
          "interval"
        ],
        "additionalProperties": false,
        "description": "Requested customer-visible price for channel policy resolution. The active policy validates the request before the offer is created."
      },
      "OfferCreated": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56,
            "description": "Offer ID"
          },
          "short_hash": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "short_hash"
        ]
      },
      "CreateOfferBody": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "product_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 55,
                "description": "Product ID for attribution and package-version resolution. Required for channel-backed offers. When `package_version_id` is omitted, the server uses the product’s current package version pin."
              },
              "package_version_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 55,
                "description": "Package version ID to pin explicitly at create time. Optional when `product_id` is supplied; if both are supplied, this value overrides the product’s current package version pin."
              },
              "target_workspace_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 53,
                "description": "Trusted-partner delivery target. When supplied, the redeemed order is created for this existing customer workspace instead of selecting or creating a workspace during checkout. Requires the target-existing-workspace entitlement and customer workspace membership.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "region_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Trusted-partner delivery region pin. Requires a fixed delivery workspace or pinned cluster and the target-managed-workspace entitlement.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "cluster_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Trusted-partner delivery cluster pin. The cluster must belong to the delivery workspace and requires the target-managed-workspace entitlement.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "allowed_emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 254,
                  "format": "email"
                },
                "maxItems": 50,
                "description": "Verified customer email allowlist. Empty or omitted means any authenticated customer can redeem the offer."
              },
              "field_values": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "nullable": true,
                      "description": "Pre-fill value for this schema property"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "When true the customer cannot override; submit ignores client value"
                    }
                  },
                  "required": [
                    "value",
                    "locked"
                  ]
                },
                "description": "Package input pre-fills keyed by input-schema property name. Values are validated against the resolved package version input schema before the offer is created."
              },
              "tier": {
                "type": "string",
                "maxLength": 32,
                "description": "Legacy advisory billing tier for non-channel offers. Do not send this with `offer_channel_id`; channel-backed offers use `commercial_mode` and `pricing_request`."
              },
              "offer_channel_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Offer Channel whose active policy resolves approval, checkout, support, and pricing terms. Requires `product_id`."
              },
              "commercial_mode": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CommercialMode"
                  },
                  {
                    "description": "Requested customer path for channel policy resolution. This is not settlement authority; the active channel policy decides the final terms."
                  }
                ]
              },
              "pricing_request": {
                "$ref": "#/components/schemas/OfferPricingRequest"
              },
              "notes": {
                "type": "string",
                "maxLength": 500,
                "description": "Seller-private note for operators reviewing or supporting the offer. Not shown to the customer."
              },
              "expires_at": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "Unix timestamp in seconds after which the offer can no longer be redeemed. Omit for no explicit expiration."
              },
              "max_uses": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "maximum": 10000,
                "description": "Maximum number of successful redemptions allowed for this offer. Omit for the default single-use behavior."
              },
              "order_ttl_minutes": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "maximum": 1440,
                "description": "Per-redemption order TTL in minutes. Defaults to 120; capped at 1440 (24h)."
              }
            },
            "required": [
              "product_id"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "package_version_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 55,
                "description": "Package version ID to pin explicitly at create time. Optional when `product_id` is supplied; if both are supplied, this value overrides the product’s current package version pin."
              },
              "product_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 55,
                "description": "Product ID for attribution and package-version resolution. Required for channel-backed offers. When `package_version_id` is omitted, the server uses the product’s current package version pin."
              },
              "target_workspace_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 53,
                "description": "Trusted-partner delivery target. When supplied, the redeemed order is created for this existing customer workspace instead of selecting or creating a workspace during checkout. Requires the target-existing-workspace entitlement and customer workspace membership.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "region_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Trusted-partner delivery region pin. Requires a fixed delivery workspace or pinned cluster and the target-managed-workspace entitlement.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "cluster_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Trusted-partner delivery cluster pin. The cluster must belong to the delivery workspace and requires the target-managed-workspace entitlement.",
                "x-platform-visibility": "TRUSTED_PARTNER"
              },
              "allowed_emails": {
                "type": "array",
                "items": {
                  "type": "string",
                  "maxLength": 254,
                  "format": "email"
                },
                "maxItems": 50,
                "description": "Verified customer email allowlist. Empty or omitted means any authenticated customer can redeem the offer."
              },
              "field_values": {
                "type": "object",
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "nullable": true,
                      "description": "Pre-fill value for this schema property"
                    },
                    "locked": {
                      "type": "boolean",
                      "description": "When true the customer cannot override; submit ignores client value"
                    }
                  },
                  "required": [
                    "value",
                    "locked"
                  ]
                },
                "description": "Package input pre-fills keyed by input-schema property name. Values are validated against the resolved package version input schema before the offer is created."
              },
              "tier": {
                "type": "string",
                "maxLength": 32,
                "description": "Legacy advisory billing tier for non-channel offers. Do not send this with `offer_channel_id`; channel-backed offers use `commercial_mode` and `pricing_request`."
              },
              "offer_channel_id": {
                "type": "string",
                "minLength": 1,
                "maxLength": 54,
                "description": "Offer Channel whose active policy resolves approval, checkout, support, and pricing terms. Requires `product_id`."
              },
              "commercial_mode": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CommercialMode"
                  },
                  {
                    "description": "Requested customer path for channel policy resolution. This is not settlement authority; the active channel policy decides the final terms."
                  }
                ]
              },
              "pricing_request": {
                "$ref": "#/components/schemas/OfferPricingRequest"
              },
              "notes": {
                "type": "string",
                "maxLength": 500,
                "description": "Seller-private note for operators reviewing or supporting the offer. Not shown to the customer."
              },
              "expires_at": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "description": "Unix timestamp in seconds after which the offer can no longer be redeemed. Omit for no explicit expiration."
              },
              "max_uses": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "maximum": 10000,
                "description": "Maximum number of successful redemptions allowed for this offer. Omit for the default single-use behavior."
              },
              "order_ttl_minutes": {
                "type": "integer",
                "minimum": 0,
                "exclusiveMinimum": true,
                "maximum": 1440,
                "description": "Per-redemption order TTL in minutes. Defaults to 120; capped at 1440 (24h)."
              }
            },
            "required": [
              "package_version_id"
            ],
            "additionalProperties": false
          }
        ],
        "description": "Provide either `product_id` or `package_version_id`. Product-backed requests may omit `package_version_id`; the server resolves the product’s current package version pin at create time, validates `field_values` against the resolved package version input schema, and stores the resolved package version on the offer."
      },
      "OrderDraft": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 55,
            "description": "Order draft ID"
          },
          "offer_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 56,
            "description": "Offer this order draft is redeeming"
          },
          "status": {
            "$ref": "#/components/schemas/OrderDraftStatus"
          },
          "termination_reason": {
            "$ref": "#/components/schemas/OrderDraftTerminationReason"
          },
          "user_id": {
            "type": "string",
            "minLength": 1,
            "description": "Authenticated customer"
          },
          "customer_email": {
            "type": "string"
          },
          "workspace_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "description": "Workspace selected/created during the workspace phase"
          },
          "cluster_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "description": "Cluster allocated during the compute phase"
          },
          "cluster_ready": {
            "type": "boolean"
          },
          "server_joined": {
            "type": "boolean"
          },
          "payment_completed": {
            "type": "boolean"
          },
          "current_checkout_session": {
            "$ref": "#/components/schemas/CurrentOrderDraftCheckoutSession"
          },
          "install_operation_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 53,
            "description": "Operation tracking the spawned install workflow"
          },
          "order": {
            "$ref": "#/components/schemas/OrderSummary"
          },
          "delivery": {
            "$ref": "#/components/schemas/OrderDeliverySummary"
          },
          "field_values": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
[...]
